
.Menus {

	background: #0c231e !important;
    }


    .Piezdepagina {

        background: #0c231e !important;
        }

        .main-footer .list-info {
            line-height: auto;
            padding: 30px 0px 10px;
            margin-bottom: 0px;
        }
        *, *:before, *:after {
            box-sizing: border-box;
        }

        .main-footer {
            background-color: #13322B;
            min-height: 56px;
            color: #FFF;
            padding: 0px 0 0px;
            text-align: left;
            font-weight: 300;
        }
        

        .img{
           width: 50%;
           border:0px;

        }
        